h2 {
  font-size: large;
}

table {
  align-items: center;
}

table,
th,
td {
  text-align: center;
}

td {
  padding: 10px;
  background-color: none;
  font-size: large;
  font-weight: 100;
}

th {
  padding: 30px;
  background-color: none;
  font-size: large;
}
